export SourceAccountId=111111111111
export SourceRegion=us-east-1
export SourceRoleArn="arn:aws:iam::111111111111:role/AssumeS3Role"
export SourceStackName=S3BucketReplSource-`date +%H%M%S%m%d%y`

export DestAccountId=222222222222
export DestRegion=us-west-2
export DestRoleArn="arn:aws:iam::222222222222:role/AssumeS3Role"
export DestStackName=S3BucketReplDestination-`date +%H%M%S%m%d%y`

export BucketName=`date +%H%M%S%m%d%y`
export LogBucketName=enterprisemediaplatform-work-`date +%H%M%S%m%d%y`