export DestBucketName=myfavdestinationbucket-`date +%H%M%S%m%d%y`
export DestRegion=us-west-2
export DestAccountId=109558624488
export DestStackName=S3BucketReplDestination-`date +%H%M%S%m%d%y`
export DestProfile=prod

export SourceBucketName=myfavsourcebucket-`date +%H%M%S%m%d%y`
export SourceLogBucketName=myfavlogbucket-`date +%H%M%S%m%d%y`
export SourceStackName=S3BucketReplSource-`date +%H%M%S%m%d%y`
export SourceRegion=us-east-1
export SourceProfile=dev